<section>
    <div class="container">
    
        <h2>Popular Services</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<br>
               dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra.</p>
            <div class="row mbr-justify-content-center">
                <div class="col-lg-3 mbr-col-md-10">
                    <a href="find-job">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont flaticon-search"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Jobs</h2>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 mbr-col-md-10">
                    <a href="propertyrent">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont"> <img src="assets/img/home.png" class="img_h" > </span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                              Property For Rent  
                            </h2>
                        </div>
                    </div>
                   </a>
                </div>
                <div class="col-lg-3 mbr-col-md-10">
                    <a href="delivery-item">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont flaticon-attorney"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                Delivery
                            </h2>
                        </div>
                    </div>
                   </a>
                </div>
                <div class="col-lg-3 mbr-col-md-10">
                    <a href="#">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont flaticon-car-insurance"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                B2B
                            </h2>
                        </div>
                    </div>
                  </a>
                </div>
                
            </div>
    </div>
</section>     
   