<app-navbar-style-one></app-navbar-style-one>
<br>
<br>
<br>
<div class="container">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 caption ">
        <br>
        <br>
        <div class="text-center">
            <h2>Terms And Condition</h2>
        </div>
        <p>

           <br> 
            <b>Introduction : </b>
            <br>
            Welcome to Nowcalls24.com . Thanks for stopping by. By accessing Nowcalls24 you are agreeing to the following terms, which are designed to make sure that Nowcalls24 works for everyone. This policy is effective 28/01/2021.
            <br>
            <b>General :</b>
            <br>
             These terms and the other policies posted on Nowcalls24 constitute the entire agreement between Nowcalls24 and you, superseding any prior agreements. We will send notices to you via the email address that users provide, or by registered mail. Notices sent by registered mail will be deemed received five days following the date of mailing. We may update this agreement at any time, with updates taking effect when you next post or after 30 days, whichever is sooner. No other amendment to this agreement will be effective unless made in writing, signed by users and by us. 
            <br>
             <b>Compliance with the Law</b>
            <br>
            We reserve the right to release information about our users in order to comply with the law. We may also release personal data to enforce or apply the terms and conditions of our services, or to protect the rights, property or safety of our websites, our users, or the general public.
            Disclaimer of Warranties and Limitation of Liability
            <br>
            <b>1.</b>	Nowcalls24  disclaims any and all responsibility or liability for the accuracy, content, completeness, legality, reliability, or operability or availability of information or material displayed on our websites.
            <br>
            <b>2.</b>	Nowcalls24 disclaims any responsibility for the deletion, failure to store, misdelivery, or untimely delivery of any information or material. 
            <br>
            <b>3.</b>	Nowcalls24  disclaims any responsibility for any harm resulting from downloading or accessing any information or material on the Internet through our websites. 
            <br>
            <b>4.</b>	Nowcalls24 disclaims any responsibility for any harm resulting from scams and fraud.
            <br>
            <b>Disputes :</b>
            <br>
            If there is any dispute about or involving our websites or our services, by using the websites, you agree that the dispute will be governed by the laws of the State of California, USA, without regard to its conflict of law provisions. You expressly agree that the exclusive jurisdiction for any claim or action arising out of or relating to the User Agreement or your use of our websites, shall be filed only in the state or federal courts located in the county of Alameda, California, USA. You further agree and submit to the exercise of personal jurisdiction of such courts, for the purpose of litigating any such claim or action.
            Copyright and Trademarks
            All contents included on our websites are the property of USNetAds LLC and is protected by United States and international copyright laws. You may not distribute, transmit, display, reproduce, modify, create derivative works from, or otherwise exploit any of the materials on oue websites without our authorization in writing.
            
        </p>

    </div>
</div>


<app-footer-style-one></app-footer-style-one>