<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <!-- <h3>About</h3> -->
                    
                    <ul class="link-list">
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> About Us</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Investors Section</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Success Stories</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Press Sections</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Advertise with Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <!-- <h3>Discover</h3> -->
                    <ul class="link-list">
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Help</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Feedback</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Complaints</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Customer Support</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Contact US</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Enterprise Solution</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <!-- <h3>Business With Vesax</h3> -->
                    
                    <ul class="link-list">
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Supplier Tool Kit</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Seller Tools</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i >Latest BuyLead</a></li>
                        <li><a routerLink="/"><i class="flaticon-left-chevron"></i> Learning Centre</a></li>
                        <li><a routerLink="/privacy-policy"><i class="flaticon-left-chevron"></i> Privacy Policy</a></li>
                        <li><a routerLink="/terms-conditions"><i class="flaticon-left-chevron"></i> Term & Condition</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <!-- <h3>Contact Info</h3> -->

                    <ul class="footer-contact-info">
                        <li><i class="bx bx-map"></i>175 5th Ave Premium Area, New York, NY 10010, United States</li>
                        <li><i class="bx bx-phone-call"></i><a href="tel:+11234567890">+1 (123) 456 7890</a></li>
                        <li><i class="bx bx-envelope"></i><a href="mailto:hello@vesax.com">hello@vesax.com</a></li>
                        <li><i class="bx bxs-inbox"></i><a href="tel:+557854578964">+55 785 4578964</a></li>
                    </ul>

                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area footer_bottom">
            <p>Copyright @2021 <span>NowCalls24</span> is Proudly Crafted by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
        </div>
    </div>

    <div class="footer-image text-center">
        <!-- <img src="assets/img/footer-image.png" alt="image"> -->
    </div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>